<div class="container-fluid">
  <div class="row">
    <div class="col offset-1">
      <div class="row">
        <h1 class="col">Create your character</h1>
      </div>

      <form [formGroup]="statsForm" (ngSubmit)="onSubmit()" *ngIf="playthrough">

        <div class="form-group row" *ngFor="let stat of playthrough?.startParagraph.stats">

          <label for="{{stat.name}}" class="col-form-label col-4">{{stat?.name}}</label>
          <input type="number" name="{{stat.name}}" formControlName="{{stat.name}}" class="form-control"
            [attr.data-dice]="stat.initNumDice" [attr.data-modifier]="stat.initModifier"
            (focus)='onFocus($event.target)' #formInput
            />
            <small class="text-danger" *ngIf="statsForm.get(stat.name).hasError('required')">Required.</small>
            <small class="text-danger" *ngIf="statsForm.get(stat.name).hasError('min')">Must be greater than 0.</small>
        </div>

        <button id="proceedBtn" type="submit" class='float-right' [disabled]="!statsForm.valid">Proceed</button>
      </form>

      <app-dice id='diceDiv' (dieRolled)="onDiceRoll($event)" [numDice]="numDice" style='margin-top: 20px; margin-bottom: 20px;'></app-dice>
    
    
    
    </div>
  
    <div class='col'>
      <img *ngIf="playthrough" src='/assets/images/book_covers/{{playthrough?.book.code}}.jpg' style='width: 338px;' />
    </div>
  </div>
</div>
