
<div class="dice__scene" *ngFor='let item of createRange(numDice)'
     [style.top] ="-item * 75 +'px'"
     [style.left] = "item * 75 + 'px'"
     [style.position] ="'relative'"
     [style.margin] = "5 + 'px'"
     >
  <div #die  class='show-front dice__cube' >
    <div class="dice__side dice__side--front" (click)="rollDice()" ></div>
    <div class="dice__side dice__side--back" (click)="rollDice()" ></div>
    <div class="dice__side dice__side--right" (click)="rollDice()" ></div>
    <div class="dice__side dice__side--left" (click)="rollDice()" ></div>
    <div class="dice__side dice__side--top" (click)="rollDice()" ></div>
    <div class="dice__side dice__side--bottom" (click)="rollDice()" ></div>
  </div>
</div>
