<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="/assets/images/book_covers/{{book?.code}}.jpg" height="300" class="d-block m-auto" />
    </div>

    <div class="col-6">
      <div class="row" innerHtml="{{book?.description}}">
        
      </div>

      <div *ngIf="playthroughs && playthroughs.length > 0">
        <h2>Previous Playthroughs</h2>
        <div class="overflow-auto" style="height: 240px;">
          <ul>
            <li *ngFor="let playthrough of playthroughs">
              <a [routerLink]="['/playthrough', playthrough.id]">{{playthrough?.created}}</a>
            </li>
          </ul>
        </div>

      </div>
      
      <div class="row">
        <a [routerLink]="['/create-playthrough', book?.id]">Start new playthrough</a>
      </div>
    </div>

  </div>
</div>
