<header>
  <img src="/assets/images/logo.jpg" class="mx-auto d-block" />
</header>
<nav class="navbar navbar-default navbar-expand-lg">
  <ul class="navbar-nav">
    <li class="ml-2 mr-2">Home</li>

    <!--<li class="ml-2 mr-2" *ng-if="!user.identity.isAuthenticated">Register</li>
    <li class="ml-2 mr-2" *ng-if="!user.identity.isAuthenticated">Login</li>

    <li class="ml-2 mr-2" *ng-if="user.identity.isAuthenticated">Logout</li>
    <li class="ml-2 mr-2" *ng-if="user.identity.isAuthenticated">Change Password)</li>-->

  </ul>
</nav>

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="row">
    <div *ngFor="let book of books" class="col-sm;" style="margin: 5px;">
      <a href="/">
        <img src="/assets/images/book_covers/{{book.code}}.jpg" height="300" class="mx-auto d-block" />
      </a>
    </div>
  </div>
</div> -->

<div id="messages" class="container">
  <div class="row">
    <!-- success and error messsages -->
  </div>
</div>
